/* 576px and below */
@media (max-width: 576px) {
  .home_media_centre {
    width: 100%;
    height: auto;
    margin-bottom: 64px;
    background: #f0f0f0;
    color: #141e2a;
  }

  .home_media_centre h2 {
    margin-left: 50px;
    padding-top: 64px;
    padding-bottom: 40px;
    font-family: "p22-underground";
    font-weight: 600;
    font-size: 1.75rem;
    line-height: 48px;
  }

  .home_media_centre_container {
    width: 100%;
    margin: 0 auto;
    padding-top: 60px;
  }

  .home_media_centre_grid_container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .home_media_centre_grid_featured {
    width: 100%;
    margin: 0 auto;
    margin-top: 2px;
    background: #fff;
  }

  .home_media_centre_grid_featured img {
    width: 100%;
  }

  .home_media_centre_grid_featured div {
    margin-left: 40px;
  }

  .home_media_centre_grid_featured div h3 {
    margin-bottom: 24px;
    font-family: "p22-underground";
    font-weight: 600;
    font-size: 2.25rem;
    line-height: 42px;
  }

  .home_media_centre_grid_featured div button {
    margin-bottom: 40px;
    padding: 0.625rem 1rem;
    font-family: AvenirNext-DemiBold;
    font-size: 0.875rem;
    background: transparent;
    color: #a8774f;
    letter-spacing: 1.2px;
    line-height: 20px;
    text-transform: uppercase;
    text-align: center;
    border: 2px solid #a8774f;
    cursor: pointer;
  }

  .home_media_centre_grid_featured div button:hover {
    background: #a8774f;
    color: #fff;
    border: 2px solid #a8774f;
  }

  .home_media_centre_grid_date {
    margin-top: 32px;
    margin-bottom: 8px;
    font-family: AvenirNext-Medium;
    font-size: 0.75rem;
    letter-spacing: 2.4px;
    line-height: 19px;
    text-transform: uppercase;
  }

  .home_media_centre_grid {
    width: 100%;
    background: transparent;
  }

  .home_media_centre_grid div {
    margin-left: 40px;
    margin-bottom: 60px;
  }

  .home_media_centre_grid img {
    width: 100%;
  }

  .home_media_centre_grid_title {
    margin-bottom: 24px;
    margin-right: 20%;
    font-family: "p22-underground";
    font-weight: 600;
    font-size: 1.75rem;
    line-height: 36px;
  }

  .home_media_centre_grid_desc {
    margin-bottom: 24px;
    margin-right: 20%;
    line-height: 28px;
  }

  .home_media_centre_grid a {
    font-family: AvenirNext-DemiBold;
    font-size: 0.875rem;
    color: #b77432;
    letter-spacing: 1.2px;
    text-transform: uppercase;
  }
}

/* 768px and above */
@media (min-width: 768px) {
  /* .home_media_centre {
    margin-bottom: 10%;
  }
  .home_media_centre h2 {
    margin-left: 0;
    font-size: 2.5rem;
  }

  .home_media_centre_container {
    width: 75%;
    margin: 0 auto;
    padding-top: 60px;
  }

  .home_media_centre_grid_featured {
    margin-bottom: 10%;
  }

  .home_media_centre_grid_featured div h3 {
    padding: 5% 0;
    font-size: 4rem;
    line-height: 60px;
  }

  .home_media_centre_grid_featured div button {
    font-size: 1rem;
  }

  .home_media_centre_grid_date {
    font-size: 0.875rem;
  }

  .home_media_centre_grid {
    width: 80%;
    margin: 0 auto;
  }

  .home_media_centre_grid_title {
    font-size: 2rem;
  }

  .home_media_centre_grid a {
    font-size: 1rem;
  } */
}

/* 992px and above */
@media (min-width: 992px) {
  /* .home_media_centre h2 {
    margin-bottom: 50px;
    font-size: 2.5rem;
  }

  .home_media_centre_container {
    width: 90%;
    margin: 0 auto;
    padding-top: 0;
    padding: 120px 0;
  }

  .home_media_centre_grid_container {
    flex-direction: row;
  }

  .home_media_centre_grid_featured {
    width: 60%;
    margin: 0;
    margin-top: 2px;
  }

  .home_media_centre_grid_featured div h3 {
    width: 100%;
    font-size: 2.75rem;
    line-height: 64px;
  }

  .home_media_centre_grid_date {
    font-size: 0.75rem;
    letter-spacing: 2.4px;
  }

  .home_media_centre_grid {
    margin: 0;
    width: 40%;
    margin-top: 30px;
    margin-left: 30px;
  }

  .home_media_centre_grid div {
    margin: 0;
  }

  .home_media_centre_grid_title {
    margin-left: 0;
    margin-bottom: 12px;
    font-size: 1rem;
  }

  .home_media_centre_grid_desc {
    width: 100%;
    font-size: 0.875rem;
  } */
}

/* 1200px and above */
@media (min-width: 1200px) {
  /* .home_media_centre h2 {
    margin: 0;
    margin-bottom: 50px;
    font-size: 2.25rem;
  }

  .home_media_centre_container {
    width: 85%;
    margin: 0 auto;
  }

  .home_media_centre_grid_featured {
    width: 70%;
    margin-right: 70px;
  }

  .home_media_centre_grid_featured div h3 {
    margin: 0;
    width: 80%;
    font-size: 3rem;
  }

  .home_media_centre_grid_date {
    font-size: 0.75rem;
  }

  .home_media_centre_grid {
    margin: 0;
    width: 30%;
    margin-top: 50px;
    margin-left: 50px;
  }

  .home_media_centre_grid_title {
    margin-bottom: 24px;
    font-size: 1.25rem;
  }

  .home_media_centre_grid_desc {
    width: 100%;
  } */
}

/* 1300px and above */
@media (min-width: 1300px) {
  /* .home_media_centre_grid_featured div h3 {
    font-size: 3.25rem;
  }

  .home_media_centre_grid_title {
    font-size: 1.5rem;
  } */
}

/* 1400px and above */
@media (min-width: 1400px) {
  .home_media_wrapper {
    margin-bottom: 134px;
    padding: 120px 0;
    background: #f0f0f0;
  }

  .home_media_centre {
    color: #141e2a;
  }

  .home_media_centre h2 {
    padding-bottom: 3%;
    font-family: "p22-underground";
    font-weight: 600;
    font-size: 2.5rem;
    line-height: 48px;
  }

  .home_media_centre_grid_container {
    padding-right: 5.3%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .home_media_centre_grid_container_left {
    width: 50%;
  }

  .home_media_centre_grid_container_right {
    padding-top: 4%;
    width: 50%;
    padding-left: 60px;
    padding-right: 85px;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
  }

  .home_media_centre_grid_featured {
    width: 100%;
    background: #fff;
  }

  .home_media_centre_grid_featured img {
    width: 100%;
  }

  .home_media_centre_grid_featured div {
    padding-left: 40px;
  }

  .home_media_centre_grid_featured_title {
    width: 540px;
    margin-bottom: 24px;
    font-family: "P22 Underground";
    font-weight: 600;
    font-size: 3.75rem;
    line-height: 64px;
  }

  .home_media_centre_grid_featured_btn {
    margin-bottom: 40px;
    padding: 1rem 1.5rem;
    font-family: "AvenirNext-DemiBold";
    font-weight: 600;
    font-size: 0.875rem;
    letter-spacing: 1.2px;
    line-height: 20px;
    color: #a8774f;
    background: transparent;
    text-transform: uppercase;
    border: 2px solid #a8774f;
  }

  .home_media_centre_grid_featured_btn:hover {
    color: #fff;
    background: #a8774f;
  }

  .home_media_centre_grid_featured_btn:focus {
    outline: none;
  }

  .home_media_centre_grid {
    width: 100%;
    margin-left: 60px;
  }

  .home_media_centre_grid_date {
    margin-top: 32px;
    margin-bottom: 10px;
    font-family: "AvenirNext-Medium";
    font-size: 0.875rem;
    letter-spacing: 2.4px;
    line-height: 19px;
    text-transform: uppercase;
  }

  .home_media_centre_grid_title {
    margin-bottom: 24px;
    font-family: "p22-underground";
    font-weight: 600;
    font-size: 2rem;
    line-height: 36px;
  }

  .home_media_centre_grid_desc {
    margin-bottom: 24px;
    font-size: 1rem;
    line-height: 28px;
  }

  .home_media_centre_grid_link {
    font-family: "AvenirNext-DemiBold";
    font-size: 0.875rem;
    letter-spacing: 1.2px;
    line-height: 19px;
    color: #b77432;
    text-transform: uppercase;
  }
}
