/* 576px and below */
@media (max-width: 576px) {
  .home_hero_img,
  .home_hero_overlay {
    display: none;
  }

  .home_hero_wrapper {
    position: relative;
  }

  .home_hero_mobile_img {
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
  }

  .home_hero_text {
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 22%;
    margin-left: 8%;
    color: #d2aa8d;
  }

  .home_hero_text p {
    width: 186px;
    font-family: "AvenirNext-Medium";
    font-size: 0.75rem;
    letter-spacing: 2.31px;
    line-height: 34px;
    text-transform: uppercase;
  }

  .home_hero_text h1 {
    width: 222px;
    font-family: "p22-underground";
    font-size: 1.625rem;
    font-weight: 600;
    line-height: 28px;
  }

  .home_hero_btn {
    position: absolute;
    bottom: -50px;
    left: 0;
    margin-left: 8%;
    padding: 5.3%;
    font-family: "AvenirNext-DemiBold";
    font-size: 0.75rem;
    letter-spacing: 1.25px;
    line-height: 16px;
    background-color: #b77432;
    background: linear-gradient(180deg, #d2aa8d 0%, #a8774f 100%);
    color: #fff;
    text-transform: uppercase;
    border: 0;
    cursor: pointer;
  }

  .home_hero_btn:focus {
    outline: none;
  }

  .home_hero_btn:hover {
    color: #d2aa8d;
    background: transparent;
    border: 2px solid #d2aa8d;
  }

  .home_hero_mobile_text p {
    font-family: AvenirNext-Medium;
    font-size: 0.625rem;
    text-transform: uppercase;
    color: #d2aa8d;
    letter-spacing: 5px;
  }

  .home_hero_mobile_text h1 {
    font-family: "p22-underground";
    font-weight: 600;
    font-size: 1.5rem;
    color: #d2aa8d;
    letter-spacing: 1.5px;
  }

  .home_hero_mobile_btn {
    width: 250px;
    height: 50px;
    margin-left: 30px;
    font-family: AvenirNext-DemiBold;
    font-size: 0.75rem;
    background: linear-gradient(
      90deg,
      rgba(210, 170, 141, 1) 0%,
      rgba(168, 119, 79, 1) 100%
    );
    color: #fff;
    text-transform: uppercase;
    border: none;
    outline: none;
    box-shadow: none;
    cursor: pointer;
  }
}

/* 768px and above */
@media (min-width: 768px) {
  .home_hero_mobile_img,
  .home_hero_mobile_overlay {
    display: none;
  }

  .home_hero_wrapper {
    width: 100%;
    height: 500px !important;
    position: relative;
  }

  .home_hero_img {
    position: absolute;
    top: 0;
    right: 0;
    height: 500px;
    z-index: -2;
  }

  .home_hero_overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 500px;
    z-index: -1;
  }

  .home_hero_text {
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 35%;
    height: 100%;
    margin-top: 20%;
    margin-left: 7.5%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    color: #fff;
  }

  .home_hero_text p {
    margin: 0;
    padding: 0;
    font-family: AvenirNext-Medium;
    font-size: 1rem;
    text-transform: uppercase;
    color: #d2aa8d;
    letter-spacing: 4.81px;
    line-height: 50px;
  }

  .home_hero_text h1 {
    margin: 0;
    padding: 0;
    font-family: "p22-underground";
    font-weight: 600;
    font-size: 2.125rem;
    color: #d2aa8d;
    line-height: 50px;
  }

  .home_hero_btn {
    position: absolute;
    bottom: 0;
    left: 0;
    margin-left: 7.5%;
    padding: 1rem 1.875rem;
    font-family: AvenirNext-DemiBold;
    font-size: 0.625rem;
    letter-spacing: 2px;
    line-height: 22px;
    color: #fff;
    background: linear-gradient(
      90deg,
      rgba(210, 170, 141, 1) 0%,
      rgba(168, 119, 79, 1) 100%
    );
    text-transform: uppercase;
    border: none;
    box-shadow: none;
    cursor: pointer;
  }

  .home_hero_btn:focus {
    outline: none;
  }

  .home_hero_btn:hover {
    color: #d2aa8d;
    background: transparent;
    border: 2px solid #d2aa8d;
  }
}

/* 992px and above */
@media (min-width: 992px) {
  .home_hero_wrapper {
    height: 600px !important;
  }

  .home_hero_img {
    height: 600px;
  }

  .home_hero_overlay {
    height: 600px;
  }

  .home_hero_text p {
    font-size: 1.125rem;
    line-height: 63px;
  }

  .home_hero_text h1 {
    font-size: 2.875rem;
    line-height: 57px;
  }

  .home_hero_btn {
    padding: 1.5rem 2.25rem;
    font-size: 0.75rem;
  }
}

/* 1200px and above */
@media (min-width: 1200px) {
  .home_hero_wrapper {
    height: 700px !important;
  }

  .home_hero_img {
    height: 700px;
  }

  .home_hero_overlay {
    height: 700px;
  }

  .home_hero_text {
    margin-top: 15.625%;
  }

  .home_hero_text p {
    font-size: 1.25rem;
    line-height: 84px;
  }

  .home_hero_text h1 {
    font-size: 3.625rem;
    line-height: 78px;
  }

  .home_hero_btn {
    padding: 2rem 2.5rem;
    font-size: 0.875rem;
  }
}

/* 1300px and above */
@media (min-width: 1300px) {
  .home_hero_text p {
    font-size: 1.5rem;
  }

  .home_hero_text h1 {
    font-size: 3.875rem;
  }
}

/* 1400px and above */
@media (min-width: 1400px) {
  .home_hero_wrapper {
    height: 800px !important;
  }

  .home_hero_img {
    height: 800px;
  }

  .home_hero_overlay {
    height: 800px;
  }

  .home_hero_text p {
    font-size: 1.563rem;
  }

  .home_hero_text h1 {
    font-size: 4.375rem;
  }

  .home_hero_btn {
    padding: 2.25rem 2.875rem;
    font-size: 1rem;
  }
}

/* 1800px and above */
@media (min-width: 1800px) {
  .home_hero_wrapper {
    height: 900px !important;
  }

  .home_hero_img {
    height: 900px;
  }

  .home_hero_overlay {
    height: 900px;
  }

  .home_hero_text p {
    font-size: 1.875rem;
  }

  .home_hero_text h1 {
    font-size: 5.25rem;
  }

  .home_hero_btn {
    padding: 2.5rem 3rem;
    font-size: 1.25rem;
  }
}
