/* 576px and below */
@media (max-width: 576px) {
  .logo {
    display: none;
  }

  header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
  }

  .logo_mobile {
    margin-top: 8%;
    margin-left: 8%;
  }

  .hamburger_menu {
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 8%;
    margin-right: 8%;
    background: transparent;
    border: none;
    outline: none;
  }

  .main_nav_container_right {
    position: absolute;
    top: 0;
    left: 0;
    width: 80%;
    background: #fff;
    font-family: "AvenirNext-DemiBold";
    font-size: 0.875rem;
    display: none;
    line-height: 50px;
    box-shadow: 0.5px 0.5px 8px 0 rgba(0, 0, 0, 0.2);
  }

  .main_nav_container_right.active {
    display: block;
    z-index: 1;
  }

  .main_nav_container_right ul {
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: 60px;
  }

  .main_nav_container_right ul li a {
    color: #141e2a;
    text-transform: uppercase;
  }

  .main_nav_container_right ul li a:hover {
    color: #a8774f;
  }
}

/* 768px and above */
@media (min-width: 768px) {
}

/* 992px and above */
@media (min-width: 992px) {
  .logo_mobile {
    display: none;
  }

  .hamburger_menu {
    display: none;
  }

  .logo {
    display: block;
  }
}

/* 1200px and above */
@media (min-width: 1200px) {
}

/* 1300px and above */
@media (min-width: 1300px) {
}

/* 1400px and above */
@media (min-width: 1400px) {
  header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
  }

  .main_nav_wrapper {
    width: 100%;
    margin-top: 16px;
  }

  .main_nav_container {
    width: 100%;
    padding: 0 3.75%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .main_nav_container_left {
    width: 40%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  .main_nav_container_right {
    width: 60%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  .main_nav_container ul {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color: #fff;
    text-transform: uppercase;
  }

  .main_nav_container_right ul li {
    margin-left: 3%;
    font-family: "AvenirNext-DemiBold";
    font-size: 0.875rem;
    letter-spacing: 1.5px;
  }

  .main_nav_container_right ul li:nth-child(6) {
    margin-right: 0;
  }

  .main_nav_container ul li a:hover {
    padding-bottom: 6px;
    color: #d2aa8d;
    border-bottom: 1px solid #d2aa8d;
  }
}

/* 1800px and above */
@media (min-width: 1800px) {
}
